<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mark.backend.mysql.mapper.BookExMapper">
	<select id="queryUserLikeAndWantList" parameterType="java.util.Map"
		resultType="com.mark.backend.dto.BookDto">
		SELECT
		tb.id,
		tb.title,
		tb.image,
		tul.type
		FROM
		t_user_like tul,
		t_book tb
		WHERE
		tul.book_id_fk = tb.id
		AND tul.`status` = 1
		<if test="userId != null">
			AND tul.user_id_fk = ${userId}
		</if>
		ORDER BY
		tul.create_time ASC
	</select>
</mapper>