<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mark.backend.mysql.mapper.GroupExMapper">

	<select id="queryGroupList" parameterType="java.util.Map"
		resultType="com.mark.backend.dto.GroupDto">
		SELECT
		tg.id,
		tg.group_name AS groupName,
		tb.title AS bookName,
		tg.group_desc AS groupDesc,
		tb.image AS groupImage,
		tg.remark_visiable
		AS remarkVisiable,
		tg.list_visiable AS listVisiable,
		tg.category_id_fk
		AS
		categoryId
		,tg.begin_time AS beginDate,
		tg.end_time AS endDate
		<if test="allInfo != null">
			,tb.summary AS bookSummary,
			tb.author AS author,
			tg.latest_time AS
			latestDate,
			tg.read_slogan AS readSlogan,
			tg.guarantee,
			tg.frequency
		</if>
		<if test="userId != null">
			,
			tgu.user_status AS userStatus
		</if>
		FROM
		t_group tg
		<if test="userId != null">
			LEFT JOIN t_group_user tgu ON tg.id = tgu.group_id_fk
			AND
			tgu.user_id_fk = ${userId}
		</if>
		,t_book tb
		<if test="associationId != null">
			,t_association ta,
			t_association_group tag
		</if>
		WHERE
		tg.book_id_fk = tb.id
		AND tg.status != 0
		<if test="list != null">
			AND tg.list_visiable = 1
		</if>
		<if test="groupId != null">
			AND tg.id = ${groupId}
		</if>
		<if test="associationId != null">
			AND tag.status != 0
			AND tag.association_id_fk = ta.id
			AND
			tag.group_id_fk = tg.id
			AND
			ta.id = ${associationId}
		</if>
		ORDER BY
		tg.`status` DESC ,tg.begin_time DESC
	</select>

	<select id="getUserGroupList" parameterType="Long"
		resultType="com.mark.backend.dto.GroupDto">
		SELECT
		tg.id,
		tg.group_name AS groupName,
		tg.group_desc AS
		groupDesc,
		tb.image AS groupImage,
		tb.title AS bookName,
		tag.association_id_fk AS
		associationId,
		tgu.user_class AS userClass,
		tgu.user_status AS
		userStatus,
		tgu.update_time AS readCompleteDate,
		MAX(tr.end_page) AS lastPage
		FROM
		t_group tg
		LEFT JOIN
		t_association_group tag ON
		tag.group_id_fk = tg.id
		LEFT JOIN t_remark tr
		ON tr.group_id_fk =
		tg.id,
		t_book tb,
		t_group_user tgu
		WHERE
		tg.book_id_fk
		=
		tb.id
		AND tg.
		STATUS != 0
		AND
		tgu.group_id_fk = tg.id
		AND tgu.user_status != 0
		AND tgu.user_id_fk
		=
		#{userId}
		GROUP BY
		tg.id
	</select>
	<select id="getTotalReader" parameterType="Long" resultType="int">
		SELECT
		COUNT(*)
		FROM
		t_group_user tgu
		WHERE
		tgu.user_status != 0
		AND
		tgu.group_id_fk = 1
	</select>

	<select id="getAllGroupList" resultType="com.mark.backend.dto.GroupDto">
		SELECT
		tg.id,
		tg.group_name AS groupName,
		tg.book_name AS bookName,
		tg.group_desc AS
		groupDesc,
		tb.image AS groupImage,
		tg.remark_visiable
		AS remarkVisiable,
		tg.list_visiable AS listVisiable,
		tg.category_id_fk
		AS
		categoryId
		FROM
		t_group tg
		,t_book tb
		WHERE
		tg.book_id_fk = tb.id
	</select>
</mapper>