<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mark.backend.mysql.mapper.InteractExMapper">
	<select id="getLikeList" parameterType="long"
		resultType="com.mark.backend.dto.UserDto">
		SELECT
		tu.id AS userId,
		tu.openid,
		tu.head_img_url AS headImage,
		tu.nickname AS
		nickName
		FROM
		t_interact
		ti
		LEFT JOIN t_user tu ON tu.id =
		ti.user_id_fk
		LEFT JOIN
		t_remark_interact tri ON tri.interact_id_fk =
		ti.id
		WHERE
		tri.type = 2
		AND tri.remark_id_fk = #{remarkId}
	</select>
	<select id="getReplyList" parameterType="long"
		resultType="com.mark.backend.dto.InteractDto">
		SELECT
		tu.id AS userId,
		tu.openid,
		tu.head_img_url AS
		headImage,
		tu.nickName,
		ti.content,
		ti.create_time AS interactDate
		FROM
		t_interact ti
		LEFT JOIN t_user tu ON
		tu.id = ti.user_id_fk
		LEFT JOIN
		t_remark_interact tri ON
		tri.interact_id_fk = ti.id
		WHERE
		tri.type = 1
		AND tri.remark_id_fk =
		#{remarkId}
	</select>
</mapper>