<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mark.backend.mysql.mapper.RemarkExMapper">
	<select id="getGroupRemarkListRecentlyList" parameterType="java.util.Map"
		resultType="com.mark.backend.dto.RemarkDto">
		SELECT
		tr.id AS remarkId,
		tr.user_id_fk AS userId,
		tr.create_time AS createTime,
		tr.title,
		tr.`comment`
		FROM
		t_remark tr
		WHERE
		tr.group_id_fk = ${groupId}
		ORDER BY
		tr.create_time DESC
	</select>
	<select id="getGroupRemarkHotList" parameterType="java.util.Map"
		resultType="com.mark.backend.dto.RemarkDto">
		SELECT
		tr.user_id_fk AS userId,
		tr.id AS remarkId,
		tr.create_time AS
		createTime,tr.`comment`,
		tr.title,
		COUNT(tri.remark_id_fk) AS
		counts,
		ti.id AS hasLike
		FROM
		t_remark
		tr
		LEFT JOIN
		t_remark_interact tri ON
		tr.id =
		tri.remark_id_fk
		LEFT JOIN t_interact
		ti ON tri.interact_id_fk =
		ti.id
		<if test="userId != null">
			AND ti.user_id_fk = ${userId}
			AND tri.type = '2'
		</if>
		WHERE
		tr.group_id_fk =
		${groupId}
		GROUP BY
		tr.id
		ORDER BY
		counts
		DESC
	</select>
	<select id="getGroupRemarkInteractList" parameterType="java.util.Map"
		resultType="com.mark.backend.dto.RemarkDto">
		SELECT
		tri.remark_id_fk AS remarkId,
		<if test="type == 2">
			COUNT(tri.type) AS totalLike
		</if>
		<if test="type == 1">
			COUNT(tri.type) AS totalReply
		</if>
		FROM
		t_remark_interact tri
		WHERE
		<if test="type == 2">
			tri.type = ${type}
		</if>
		<if test="type == 1">
			tri.type = ${type}
		</if>
		AND tri.remark_id_fk IN (
		SELECT
		id
		FROM
		t_remark tr
		WHERE
		<if test="groupId != null">
			group_id_fk = ${groupId}
		</if>
		)
		GROUP BY
		tri.remark_id_fk
	</select>
	<select id="getRemarkInGroupkByUserId" parameterType="long"
		resultType="com.mark.backend.dto.RemarkDto">
		SELECT
		tr.user_id_fk AS userId,
		tg.id AS groupId,
		tg.group_name AS groupName,
		tb.image,
		COUNT(group_id_fk) AS
		groupTotalRemark
		FROM
		t_remark tr
		LEFT JOIN t_group tg ON tr.group_id_fk
		= tg.id,
		t_book tb
		WHERE
		tr.user_id_fk = #{userId}
		AND tg.book_id_fk =
		tb.id
		GROUP BY
		tr.group_id_fk
		ORDER BY
		groupTotalRemark DESC
	</select>
	<select id="getUserInGroupRemarkList" parameterType="long"
		resultType="com.mark.backend.dto.RemarkDto">
		SELECT
		tr.id AS remarkId,
		tr.title,
		tr.comment,
		tr.create_time
		AS createTime
		FROM
		t_remark tr
		WHERE
		tr.user_id_fk =
		${userId}
		AND
		tr.group_id_fk = ${groupId}
		ORDER BY
		create_time DESC
	</select>
	<select id="getContinuePunch" parameterType="java.util.Map"
		resultType="com.mark.backend.mysql.po.Remark">
		SELECT
		DISTINCT DATE_FORMAT(
		create_time,
		'%Y-%m-%d 00:00:00'
		) AS
		createTime
		FROM
		t_remark
		WHERE
		user_id_fk = ${userId}
		<if test="groupId !=null">
			AND group_id_fk = ${groupId}
		</if>
		<if test="startDate != null"> AND create_time &gt;= '${startDate}'</if>
		<if test="endDate != null"> AND create_time &lt; '${endDate}'</if>
		GROUP BY
		user_id_fk,
		group_id_fk,
		create_time
		ORDER BY
		createTime
		DESC
	</select>
	<select id="getPunchList" parameterType="java.util.Map"
		resultType="com.mark.backend.dto.RemarkDto">
		SELECT
		tg.id,
		tg.group_name AS groupName,
		tb.image AS
		groupImage,
		tb.title AS bookName,
		tgu.user_status AS
		userStatus,
		tgu.update_time AS readCompleteDate,
		tr.end_page AS lastPage
		FROM
		t_group tg
		LEFT JOIN
		t_association_group tag
		ON
		tag.group_id_fk = tg.id
		LEFT JOIN t_remark tr ON tr.group_id_fk =
		tg.id,
		t_book tb,
		t_group_user
		tgu
		WHERE
		tg.book_id_fk =
		tb.id
		AND tg.
		STATUS != 0
		AND
		tgu.group_id_fk =
		tg.id
		AND tgu.user_id_fk
		= #{userId}
	</select>
	<select id="getLastReadPage" parameterType="java.util.Map"
		resultType="com.mark.backend.dto.RemarkDto">
		SELECT end_page FROM t_remark WHERE 1 =1
		<if test="gourpId != null">
			AND group_id_fk = ${groupId}
		</if>
		<if test="userId != null">
			AND user_id_fk = ${userId}
		</if>
		ORDER BY end_page
		DESC LIMIT 0,1
	</select>
</mapper>