<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mark.backend.mysql.mapper.UserMessageExMapper">
	<select id="getMessageList" resultType="com.mark.backend.dto.MessageDto"
		parameterType="java.util.Map">
		SELECT
		ti.user_id_fk AS
		userId,
		tum.content,
		tri.remark_id_fk AS remarkId,
		tum.url,
		tum.create_time AS createTime,
		tum.is_check AS isCheck
		FROM
		t_user_message tum
		LEFT JOIN
		t_remark_interact tri ON
		tum.interact_id_fk
		= tri.interact_id_fk
		LEFT
		JOIN t_interact ti ON
		ti.id =
		tum.interact_id_fk
		WHERE
		1 = 1
		AND
		<if test="userId != null">
			tum.user_id_fk = ${userId}
		</if>
		<if test="type != null">
			AND tum.type = ${type}
		</if>
	<!-- <if test="ischeck != null"> -->
	<!-- AND -->
	<!-- tum.is_check = -->
	<!-- ${ischeck} -->
	<!-- </if> -->
		ORDER
		BY
		is_check ASC,
		tum.create_time DESC
	</select>

	<update id="updateUserLikeMessage" parameterType="Long">
		UPDATE
		t_user_message SET is_check = 1 WHERE 1=1
		AND type = 2
		AND user_id_fk =
		#{userId}
	</update>
	<update id="updateUserReplyMessage" parameterType="Long">
		UPDATE
		t_user_message SET is_check = 1 WHERE 1=1
		AND type = 1
		AND user_id_fk =
		#{userId}
	</update>

	<select id="getCount" resultType="com.mark.backend.dto.RemarkDto"
		parameterType="Long">
		SELECT
		IFNULL(sum(type = '1'),0) AS totalReply,
		IFNULL(sum(type = '2'),0) AS totalLike
		FROM
		`t_user_message`
		WHERE
		user_id_fk = #{userId} AND is_check = '0'
	</select>
</mapper>