<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mark.backend.mysql.mapper.UserExMapper">
	<select id="queryUserList" parameterType="java.util.Map"
		resultType="com.mark.backend.dto.UserDto">
		SELECT
		tu.id,
		tu.nickname AS nickName,
		tu.head_img_url AS headImage
		<if test="groupId != null">
			,
			CASE
			tgu.user_class
			WHEN '1' THEN
			TRUE
			ELSE
			FALSE
			END AS
			isLeader
		</if>
		FROM
		t_user tu
		<if test="groupId != null">
			,
			t_group_user tgu
			WHERE
			tu.id = tgu.user_id_fk
			AND
			tgu.user_status != '0'
			AND
			tgu.group_id_fk = ${groupId}
		</if>
	</select>
	<select id="queryUserPageInfo" parameterType="java.util.Map"
		resultType="com.mark.backend.dto.UserDto">
		SELECT
		tu.id,
		tu.nickname AS nickName,
		tu.head_img_url AS headImage,
		tu.intro,
		user_group.totalGroup,
		user_book.totalRead,
		user_remark.totalRemark,
		user_rank.num,
		user_rank.score
		FROM
		t_user tu
		LEFT JOIN (
		SELECT
		tu.id,
		COUNT(*) AS totalGroup
		FROM
		t_user tu,
		t_group_user tgu,
		t_group tg
		WHERE
		tu.id = tgu.user_id_fk
		AND tg.id = tgu.group_id_fk
		AND tgu.user_status != '0'
		AND tg.`status` != '0'
		GROUP BY
		tu.id
		) AS
		user_group ON tu.id = user_group.id
		LEFT JOIN (
		SELECT
		tu.id,
		COUNT(*) AS
		totalRead
		FROM
		t_user tu,
		t_group_user tgu
		WHERE
		tu.id =
		tgu.user_id_fk
		AND
		tgu.user_status = 2
		GROUP BY
		tu.id
		) AS user_book ON
		tu.id = user_book.id
		LEFT JOIN (
		SELECT
		tu.id,
		COUNT(*) AS totalRemark
		FROM
		t_user tu,
		t_remark
		tr
		WHERE
		tu.id = tr.user_id_fk
		GROUP BY
		tu.id
		) AS
		user_remark ON tu.id =
		user_remark.id
		LEFT JOIN (
		SELECT
		(@rowNO := @rowNo
		+ 1) AS num,
		a.id,
		a.score
		FROM
		(
		SELECT
		ts.user_id_fk AS id,
		sum(score) AS
		score
		FROM
		t_score
		ts
		GROUP BY
		ts.user_id_fk
		ORDER BY
		score DESC
		) a,
		(SELECT
		@rowNO := 0) b
		)
		AS user_rank ON tu.id = user_rank.id
		<if test="userId != null">
			WHERE
			tu.id = ${userId}
		</if>
	</select>
</mapper>